// Info
.color-primary-main {
	color: #579CFF;
}
.color-primary-hover {
	color: #64B5F6;
}
.color-primary-disable {
	color: #BBDEFB;
}
.color-primary-bg {
	color: #E3F2FD;
}
.bg-primary-main {
	background-color: #579CFF;
}
.bg-primary-hover {
	background-color: #64B5F6;
}
.bg-primary-disable {
	background-color: #BBDEFB;
}
.bg-primary-bg {
	background-color: #E3F2FD;
}
// Success
.color-success-main {
	color: #4CAF50;
}
.color-success-hover {
	color: #81C784;
}
.color-success-disable {
	color: #C8E6C9;
}
.color-success-bg {
	color: #E8F5E9;
}
.bg-success-main {
	background-color: #4CAF50;
}
.bg-success-hover {
	background-color: #81C784;
}
.bg-success-disable {
	background-color: #C8E6C9;
}
.bg-success-bg {
	background-color: #E8F5E9;
}
// Warning
.color-warning-main {
	color: #FF9800;
}
.color-warning-hover {
	color: #FFB74D;
}
.color-warning-disable {
	color: #FFE0B2;
}
.color-warning-bg {
	color: #FFF3E0;
}
.bg-warning-main {
	background-color: #FF9800;
}
.bg-warning-hover {
	background-color: #FFB74D;
}
.bg-warning-disable {
	background-color: #FFE0B2;
}
.bg-warning-bg {
	background-color: #FFF3E0;
}
// Danger
.color-danger-main {
	color: #E64A19;
}
.color-danger-hover {
	color: #FF8A65;
}
.color-danger-disable {
	color: #FFCCBC;
}
.color-danger-bg {
	color: #FBE9E7;
}
.bg-danger-main {
	background-color: #E64A19;
}
.bg-danger-hover {
	background-color: #FF8A65;
}
.bg-danger-disable {
	background-color: #FFCCBC;
}
.bg-danger-bg {
	background-color: #FBE9E7;
}
// Neutral
.color-newtral-900 {
	color: #212121;
}
.color-newtral-800 {
	color: #424242;
}
.color-newtral-700 {
	color: #616161;
}
.color-newtral-600 {
	color: #757575;
}
.color-newtral-500 {
	color: #9E9E9E;
}
.color-newtral-400 {
	color: #BDBDBD;
}
.color-newtral-300 {
	color: #E0E0E0;
}
.color-newtral-200 {
	color: #EEEEEE;
}
.color-newtral-100 {
	color: #F5F5F5;
}
.color-newtral-50 {
	color: #FAFAFA;
}
.color-newtral-white {
	color: #FFFFFF;
}
.bg-newtral-900 {
	background-color: #212121;
}
.bg-newtral-800 {
	background-color: #424242;
}
.bg-newtral-700 {
	background-color: #616161;
}
.bg-newtral-600 {
	background-color: #757575;
}
.bg-newtral-500 {
	background-color: #9E9E9E;
}
.bg-newtral-400 {
	background-color: #BDBDBD;
}
.bg-newtral-300 {
	background-color: #E0E0E0;
}
.bg-newtral-200 {
	background-color: #EEEEEE;
}
.bg-newtral-100 {
	background-color: #F5F5F5;
}
.bg-newtral-50 {
	background-color: #FAFAFA;
}
.bg-newtral-white {
	background-color: #FFFFFF;
}
